*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #02005c;
    z-index: -20;
}
.icons{
    display: flex;
    justify-content: center;
    
}
#tri{
    margin-top: 450px;
    margin-left: -190px;
    z-index: -1;
}
#sq{
    margin-left: -10px;
    margin-top: 10px;
    z-index: -1;
}
#cir{
    margin-left: 650px;
    margin-top: 45px;
    z-index: -1;
}
#x{
    
    margin-top: 400px;
    margin-left: 10px;
    z-index: -1;
}
.morph2{
    background: #014b79;
    width: 50vw;
    height: 100vh;
    z-index: -2;
    margin-left: 700px;
    transform: rotate(60deg);
    position: absolute;
}
.morph3{
    background: #02002e;
    width: 50vw;
    height: 100vh;
    z-index: -2;
    margin-left: -700px;
    transform: rotate(-60deg);
    position: absolute;
}

.morph{
    z-index: 2;
    width: 65%;
    height: 75vh;
    background: linear-gradient( 315deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    margin-top: -510px;
    margin-left: 250px;
    border: solid rgba(255, 255, 255, 0.217) 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.474) 2px 2px 60px;
}
.dashbord{
    border-radius: 20px;
    height: 523px;
    width: 250px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( 315deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));

}
.user{
    margin-left: -10px;
    margin-top: 10px;
    text-align: center;
    background: rgba(89, 0, 255, 0.146);
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.Games{
    margin-left: 60px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}
.status{
    
}
.status h1{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 126, 0.459);
}
.link{
    font-size: 10px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    
}
.link:hover{
    transition-duration: 1s;
    background: cyan;
    
    transform: translateX(20px);
    border-radius: 10px;
}
h2{
    text-align: justify;
    padding: 0px 20px;
}
.card{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.card:hover{
    color: white;
    background: #9e005d;
    transform: translateX(10px);
    transition-duration: 1s;
}
.percentage{
    margin-left: 290px;
    margin-top: -26px;
    font-size: 18px;
    color: #9e005d;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background: linear-gradient( 315deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
.card{
    background: linear-gradient( 315deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    height: 95px;
    width: 490px;
    margin-top: 25px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.306);
}
.version{
    margin-left: 21px;
    font-size: 12px;
    font-weight: 1;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.82);
}
.Gm{
    font-size: 17px;
    font-weight: 500;
   
}
.progress, .percentage{
    display: flex;
}
.progress{
    width:230px;
    height: 10px;
    background: cyan;
    margin-left: 21px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.progress::after{
    content:"";
    width: 50%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 50%;
    
}
#other{
    z-index: -1;
    margin-left: -200px;
    margin-top: 200px;
}
